@use "../partials/variables" as *;
@use "../partials/mixins" as *;


.about{
    position: relative;

    .container{
        @include grid(1fr 1fr);
        gap: 40px;

        @include respond-to(small){
            grid-template-columns: 1fr; 
        }

        .row{
           .row-inner{
                background: none;
                max-width: 500px;
                height: 400px;
                position: relative;

                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -100px;
                    border: 300px solid;
                    border-color: transparent transparent transparent $dark-bg;

                    .dark-mode &{
                        border-color: transparent transparent transparent $light-bg;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 35px;
                    width: 100%;
                    background-color: $dark-bg;

                    .dark-mode &{
                        background-color: $light-bg;
                    }
                }
                img{
                    height: 95%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }                
            }
            p{
                text-align: justify;
            }
        }       
    }
}
.youtube{
    position: relative;

    .row{
        margin-top: 50px;

        @include grid(1fr 1fr 1fr);
        gap: 20px;

        @include respond-to(medium){
            @include grid(1fr 1fr);
        }
        @include respond-to(small){
            @include grid(1fr);
        }

        .row-inner{
            iframe{
                width: 100%;
                border: 0;
            }
        }
    }
}