$primary-font: "Inter", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$dark_bg: #2C3539;
$dark_bg_dark: #22282e;
$light_bg: #ffffff;
$light_bg_sm_dark: #f7f7f7;
$accent-color: #00ccff;
$accent-dark: #00a3cc;
$yellow-color: #ffff00;
$red-color: rgb(228, 22, 22);
$primary-text-color: #f5f5f5;
$secondary-text-color: #b3b3b3;
$dark-text-color: #333333;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 400;
$white: #fff;
$black: #000;
$light-grey: #cccccc88;
$box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
$box-shadow2: 0px 0px 6px rgba(0, 0, 0, 0.2);
$p10: 10px;
$p20: 20px;
$p30: 30px;
$p40: 40px;
$gradient: linear-gradient(to right, #7ace4c 0%, #017e9d 100%);



